*__pycache__*
src/cartpole_tf/models/*
src/cartpole_torch/tmp/*
src/cartpole_tf/models/__pycache__/*
src/cartpole_torch/tmp__pycache__/**
src/envs/ents/__pycache__/*
src/envs/__pycache__/*
src/envs/tf/__pycache__/*
src/envs/torch/__pycache__/*
src/envs/torch/tmp/*
src/envs/tf/models/*
